## 语法： for 变量名 in 集合： …

In [6]:
a = [1,2,4,56,786,898,5,897,9,45,34,33,12,2345,24,11,23,3456,213,3]

In [7]:
len(a)

20

In [11]:
for i in a:
    print(i, a)

1 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
2 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
4 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
56 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
786 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
898 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
5 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
897 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
9 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
45 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
34 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
33 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
12 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
2345 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
24 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
11 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
23 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
3456 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
213 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]
3 [1, 2, 4, 56, 786, 898, 5, 897, 9, 45, 34, 33, 12, 2345, 24, 11, 23, 3456, 213, 3]

In [10]:
sorted(a)

[1,
 2,
 3,
 4,
 5,
 9,
 11,
 12,
 23,
 24,
 33,
 34,
 45,
 56,
 213,
 786,
 897,
 898,
 2345,
 3456]

In [14]:
for i in a:
    if i % 2 == 1:
        print("奇数：", i)
    else:
        print("偶数：", i)

奇数： 1
偶数： 2
偶数： 4
偶数： 56
偶数： 786
偶数： 898
奇数： 5
奇数： 897
奇数： 9
奇数： 45
偶数： 34
奇数： 33
偶数： 12
奇数： 2345
偶数： 24
奇数： 11
奇数： 23
偶数： 3456
奇数： 213
奇数： 3

## 批量生成列表数字：range([起始，]结尾，[规律])

In [15]:
range(10)

range(0, 10)

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
list(range(20,0,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

## for循环读取range()操作的值

In [24]:
res = []
for i in range(0,100):
    if i % 3 == 1:
        res.append(i)
print(res)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]